<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yangcheonlife.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
				<key>dateExpires</key>
				<string>5/20/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A6628118A69960FAA694D62B252CAAE4E8425C2D</string>
						<key>dateExpires</key>
						<string>5/20/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XGYNZ99X76</string>
						<key>name</key>
						<string>Woohyun Jin</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XGYNZ99X76.com.helgisnw.yangcheonlife</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XGYNZ99X76</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>yangcheonlife.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7e36ff7b-ff8e-4a8b-8f2e-32e4a7c3c41e</string>
				<key>dateExpires</key>
				<string>5/20/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.helgisnw.yangcheonlife</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XGYNZ99X76</string>
				<key>name</key>
				<string>Woohyun Jin</string>
			</dict>
			<key>versionNumber</key>
			<string>3.0.1</string>
		</dict>
	</array>
</dict>
</plist>
