<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHotspotConfigurationUsageDescription</key>
    <string>Wi-Fi 연결 기능을 사용하기 위해 권한이 필요합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>숨겨진 Wi-Fi 네트워크에 연결하기 위해 위치 권한이 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>앱이 백그라운드에서도 Wi-Fi 연결을 관리하기 위해 위치 권한이 필요합니다.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>로컬 네트워크에 접근하여 Wi-Fi 연결 상태를 확인합니다.</string>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.helgisnw.yangcheonlife</string>
    </array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
